<!DOCTYPE html>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="fstyle.css">
<footer id="footer-Section">
    <div class="footer-top-layout">
        <div class="container">
            <div class="row">
                <div class="OurBlog">
                    <!-- <h4>Our Blog</h4>
                    <p>BCM wins mandate for Avendus Wealth Management portal revamp</p> -->
                    <div class="post-blog-date">Time</div>
                </div>
                <div class=" col-lg-8 col-lg-offset-2">
                    <div class="col-sm-4">
                        <div class="footer-col-item">
                            <h4>Go Travel Cloud</h4>
                            <address>
              501,507 your company address<br>
              400015 Maharashtra, UK
              </address>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="footer-col-item">
                            <h4>Reach Us</h4>
                            <div class="item-contact"> <a href="tel:630-885-9200"><span class="link-id">P</span>:<span>630-885-9200</span></a>
                                <a href="mailto:info@brandcatmedia.com"><span class="link-id">E</span>:<span>info@brandcatmedia.com</span></a> </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="footer-col-item">
                            <h4>Subscribe to Get Regular Updates</h4>
                            <form class="signUpNewsletter" action="" method="get">
                                <input name="" class="gt-email form-control" placeholder="You@youremail.com" type="text">
                                <input name="" class="btn-go" value="Go" type="button">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-layout">
        <div class="online-method">
            <a href="#"><img src="img/dbbl.png"></a>
            <a href="#"><img src="img/bkash.png"></a>
            <a href="#"><img src="img/rocket.png"></a>

        </div>
        <div class="copyright-tag">Copyright © 2020 ------. All Rights Reserved.</div>
    </div>
</footer>