<!DOCTYPE html> {% extends 'header.html' %}{% load static %} {% block body %}


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link href="{% static 'style.css' %}" rel="stylesheet">
</head>
{% if messages %} {% for message in messages %}
<div style="width: 80%;margin: 0 auto;" class="alert alert-secondary alert-dismissible fade show">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <strong>Alert!</strong> {{message}}.
</div> {% endfor %}
<script>
    $(".alert").fadeIn(500, function() {
        $(".alert").fadeOut(3500);
    });
</script>
{% endif %}

<body class="form-body2">
    <br>
    <div class="page-content">

        <div class="form-v8-content">
            <div class="form-left">
                <!-- <img src="{% static 'img/r2.jpg' %}" alt="form" height="800px" width="600px"> -->
            </div>
            <div class="form-right">
                <div class="tab">
                    <div class="tab-inner">
                        <button class="tablinks" onclick="openCity(event, 'sign-up')" id="defaultOpen">Sign Up</button>
                    </div>
                    <div class="tab-inner">
                        <button class="tablinks" onclick="openCity(event, 'sign-in')">Sign In</button>
                    </div>
                </div>
                <form class="form-detail" action="/submit_user/" method="post">
                    {% csrf_token %}
                    <div class="tabcontent" id="sign-up">
                        <div class="form-row">
                            <label class="form-row-inner">
								<input type="text" name="fullname" id="full_name" class="input-text" required>
								<span class="label">Full Name</span>
		  						<span class="border"></span>
							</label>
                        </div>
                        <div class="form-row">
                            <label class="form-row-inner">
								<input type="text" name="username" id="fullname" class="input-text" required>
								<span class="label">Username</span>
		  						<span class="border"></span>
							</label>
                        </div>
                        <div class="form-row">
                            <label class="form-row-inner">
								<input type="email" name="email" id="your_email" class="input-text" required>
								<span class="label">E-Mail</span>
		  						<span class="border"></span>
							</label>
                        </div>

                        <div class="form-row">

                            <label class="form-row-inner">
                                <select class="custom-select" style="margin-bottom: 25px;background:none;color: white;" name="gender" onclick="this.setAttribute('value', this.value);">
                                    <option disabled selected>Select Gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="others">Others</option>
                                  </select>
                              <!-- <span class="border"></span> -->
                        </label>
                            <br>
                        </div>

                        <div class="form-row">
                            <label class="form-row-inner">
								<input type="text" name="age" id="your_age" class="input-text" required>
								<span class="label">Age</span>
		  						<span class="border"></span>
							</label>
                        </div>

                        <div class="form-row">
                            <label class="form-row-inner">
								<input type="text" name="number" id="number" class="input-text" required>
								<span class="label">Contact Number</span>
								<span class="border"></span>
							</label>
                        </div>

                        <div class="form-row">
                            <label class="form-row-inner">
								<input type="password" name="password" id="password" class="input-text" required>
								<span class="label">Password</span>
								<span class="border"></span>
							</label>
                        </div>
                        <div class="form-row">
                            <label class="form-row-inner">
								<input type="password" name="comfirm_password" id="confirm_password" class="input-text" required>
                                <span class="label">Comfirm Password</span>
                                <span id='message'></span>
								<span class="border"></span>
							</label>
                        </div>
                        <div class="form-row-last">
                            <input type="submit" id="register" name="register" class="register" value="Register">
                        </div>
                    </div>
                </form>
                <form class="form-detail" action="/user_login/" method="post">
                    {% csrf_token %}
                    <div class="tabcontent" id="sign-in">
                        <div class="form-row">
                            <label class="form-row-inner">
								<input type="text" name="username" id="full_name_1" class="input-text" required>
								<span class="label">Username</span>
		  						<span class="border"></span>
							</label>
                        </div>

                        <div class="form-row">
                            <label class="form-row-inner">
								<input type="password" name="password" id="password_1" class="input-text" required>
								<span class="label">Password</span>
								<span class="border"></span>
							</label>
                        </div>

                        <div class="form-row-last">
                            <input type="submit" name="register" class="register" value="Sign In">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /form -->



    <script type="text/javascript">
        $('#password, #confirm_password').on('keyup', function() {
            if ($('#password').val() == $('#confirm_password').val()) {
                $('#message').html('Matched').css('color', 'green');
                document.getElementById('register').disabled = false;
            } else {
                $('#message').html('Not Matched').css('color', 'red');
                document.getElementById('register').disabled = true;
            }
        });

        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }

        // Get the element with id="defaultOpen" and click on it
        document.getElementById("defaultOpen").click();
    </script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>


{% endblock %}