<!DOCTYPE html> {% extends 'header.html' %} {% load static %} {% block body %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Purchase Ticket</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/cf18cbc6fa.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'ticket_style.css' %}" />


    <style>
        * {
            box-sizing: border-box;
        }
        
        body {
            font: 16px Arial;
        }
        /*the container must be positioned relative:*/
        
        .autocomplete {
            position: relative;
            display: inline-block;
        }
        
        input {
            border: 1px solid transparent;
            background-color: #f1f1f1;
            padding: 10px;
            font-size: 16px;
        }
        
        input[type=text] {
            background-color: #f1f1f1;
            width: 100%;
        }
        
        input[type=submit] {
            background-color: DodgerBlue;
            color: #fff;
            cursor: pointer;
        }
        
        .autocomplete-items {
            position: absolute;
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 99;
            /*position the autocomplete items to be the same width as the container:*/
            top: 100%;
            left: 0;
            right: 0;
        }
        
        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }
        /*when hovering an item:*/
        
        .autocomplete-items div:hover {
            background-color: #e9e9e9;
        }
        /*when navigating through the items using the arrow keys:*/
        
        .autocomplete-active {
            background-color: DodgerBlue !important;
            color: #ffffff;
        }
        
        .disable-btn {
            background-color: dimgray;
            cursor: not-allowed;
        }
        
        .blur>*:not(#toast-not-blur) {
            filter: blur(4px);
            -webkit-filter: blur(4px);
            -moz-filter: blur(4px);
            -o-filter: blur(4px);
            -ms-filter: blur(4px);
            cursor: not-allowed;
        }
        
        .seat {
            width: 80%;
            margin: 0 auto;
            background-color: white;
            /* display: flex; */
            display: none;
        }
        
        .section-1,
        .section-2 {
            width: 95%;
            margin: 0 auto;
            display: flex;
            overflow-wrap: break-all;
            word-wrap: break-all;
            flex-wrap: wrap;
            padding: 5px 10px;
        }
        
        .section-1 img,
        .section-2 img {
            height: 60px;
            width: 60px;
            margin-right: 15px;
            /* cursor: pointer; */
            overflow-wrap: break-word;
            word-wrap: break-word;
        }
        
        .unavailable-seat {
            filter: grayscale(10);
            cursor: not-allowed;
            opacity: 0.5
        }
        
        .selected-seat {
            /* cursor: not-allowed; */
            border: 5px solid #49b561;
        }
        
        hr {
            margin-top: 0;
            margin-bottom: 5px;
            border: 0;
            border-top: 1px dashed rgb(49, 45, 45);
        }
    </style>
</head>

<body class="form-body" id="form-body">
    <div class="seat">
        <div class="section-1" id="section-1">
            {% for i in tickets %}
            <img onclick="select_seat()" src="{% static 'img/seat-512.png' %}" title="A-{{i}}"> {%endfor%}
        </div>
        <hr>
        <hr>
        <div class="section-2" id="section-2">
            {% for i in tickets %}
            <img onclick="select_seat()" src="{% static 'img/seat-512.png' %}" title="B-{{i}}"> {%endfor%}
        </div>
    </div>
    <div id="booking" class="section">
        <div class="section-center">
            <div class="container">

                <div class="row">
                    <div class="booking-form">
                        <div class="form-header">
                            <h1>Check Ticket Availability</h1>
                        </div>
                        <form method="POST" action="/purchase/">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" id="start_point" name="start_point" onfocus="input_validity()" placeholder="Starting Point" autocomplete="off">
                                        <span class="form-label">Starting Point</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="text" id="destination" name="destination" onfocus="input_validity()" placeholder="Destination" autocomplete="off">
                                        <span class="form-label">Destination</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input class="form-control" type="date" data-date-format="YYYY MM DD" name="date" id="date" required>
                                        <span class="form-label">Date</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select class="form-control" name="time" id="time" required>
											<option value="" selected hidden>Time</option>
											<option value="07:00 AM">07:00 AM</option>
                                            <option value="08:30 AM">08:30 AM</option>
                                            <option value="10:00 AM">10:00 AM</option>
                                            <option value="12:00 PM">12:00 PM</option>
                                            <option value="02:00 PM">02:00 PM</option>
                                            <option value="04:00 PM">04:00 PM</option>
                                            <option value="06:00 PM">06:00 PM</option>
                                            <option value="08:00 PM">08:00 PM</option>
                                            <option value="09:00 PM">09:00 PM</option>
                                            <option value="10:30 PM">10:30 PM</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                        <span class="form-label">Time</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select class="form-control" name="tickets" id="tickets" required>
											<option value="" selected hidden>No. of Tickets</option>
											<option value="1">1</option>
											<option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
										</select>
                                        <span class="select-arrow"></span>
                                        <span class="form-label">Number of Tickets</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <select class="form-control" name="class_type" id="class_type" required onmouseout="preferable()">
											<option value="" selected hidden>Passenger Type</option>
											<option value="student">Student</option>
                                            <option value="tourist">Tourist</option>
                                            <option value="category a">Category A</option>
                                            <option value="category b">Category B</option>
                                            <option value="Custom Choice">Choose Preferable Seat</option>
										</select>
                                        <span class="select-arrow"></span>
                                        <span class="form-label">Class</span>
                                    </div>
                                </div>
                            </div>

                            <div class="hidden" style="display: none;">
                                <input type="text" name="quantity" id="quantity">
                                <input type="text" name="seat_no" id="seat_no">
                                <input type="text" name="seat_index" id="seat_index">
                            </div>

                            <div class="row justify-content-center">
                                <div class="col-md-4">
                                    <div class="form-btn">
                                        <button id="check" type="button" onclick="available_ticket()" class="submit-btn">Check</button>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-btn">
                                        <button id="purchase" onclick="add_selection()" type="submit" class="submit-btn">Purchase</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="toast-not-blur" aria-live="polite" aria-atomic="true" class="d-flex justify-content-center align-items-center" style="min-height: 200px;padding: 20px;">
            <!-- Then put toasts within -->
            <div class="toast" data-autohide="false" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="mr-auto text-primary">Result</strong>
                    <button type="button" class="ml-2 mb-1 close" onclick="cancel()" data-dismiss="toast">&times;</button>
                </div>
                <div class="toast-body">
                    <p id="ticket"></p>
                    <p id="distance"></p>
                    <p id="price"></p>
                    <p id="selected"></p>
                    <div class="confirm d-flex justify-content-end">
                        <button type="button" onclick="cancel()" data-dismiss="toast" class="btn btn-outline-primary btn-sm">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    {% block javascript %}

    <script>
        var count = 0;
        var selected_seat = [];
        var occupied_seat = [];
        var date = new Date();
        var current_time = date.toLocaleTimeString().replace(/(.*)\D\d+/, '$1');
        var selectobject = document.getElementById("time");
        for (var i = 0; i < selectobject.length; i++) {
            if (get_minute(current_time) < get_minute(selectobject.options[i].value) && get_minute(selectobject.options[i].value) < get_minute("11:00 PM"))
                var count = 0;
            else
                selectobject.remove(i);
        }

        function get_minute(actual_time) {
            var time = actual_time.split(' ')[0];
            var portion = actual_time.split(' ')[1];
            var hour = parseInt(time.split(':')[0]);
            var minute = parseInt(time.split(':')[1]);
            if (portion == "PM" && hour < 12)
                hour = hour + 12;

            minute = minute + hour * 60;
            return minute;
        }

        function add_selection() {
            var seat = "";
            var seat_index = "";
            for (var i = 0; i < selected_seat.length; i++) {
                if (selected_seat[i] > 25)
                    seat = seat + "B-" + (selected_seat[i] - 26).toString() + ",";
                else
                    seat = seat + "A-" + (selected_seat[i]).toString() + ",";
                seat_index = seat_index + (selected_seat[i]).toString() + ",";

            }
            document.getElementById("quantity").value = selected_seat.length;
            document.getElementById("seat_no").value = seat;
            document.getElementById("seat_index").value = seat_index;
            var x = document.getElementById("quantity").value;
        }


        function seat_list(date, time) {
            var g1 = document.getElementById('section-1');
            var g2 = document.getElementById('section-2');
            var item1 = document.querySelectorAll(".section-1 img"),
                item1_arr = [];
            var item2 = document.querySelectorAll(".section-2 img"),
                item2_arr = [];
            for (var i = 0; i < item1.length; i++) {
                item1_arr.push(item1[i].innerHTML);
            }
            for (var i = 0; i < item2.length; i++) {
                item2_arr.push(item2[i].innerHTML);
            }
            for (var i = 0, len = g1.children.length; i < len; i++) {

                (function(index) {
                    g1.children[i].onclick = function() {
                        if (occupied_seat.includes(index)) {
                            alert('This Seat is Not Available!');
                        } else {
                            if (count > 3 || selected_seat.includes(index)) {
                                if (selected_seat.includes(index))
                                    alert('Already Selected!');
                                else
                                    alert('You cannot purchase more than 4 tickets at a time!');
                            } else {
                                $(item1[index]).addClass("selected-seat");
                                selected_seat.push(index);
                                count = count + 1;
                            }
                        }

                    }
                })(i);
            }

            for (var i = 0, len = g2.children.length; i < len; i++) {
                (function(index) {
                    g2.children[i].onclick = function() {
                        if (occupied_seat.includes(index + g1.children.length)) {
                            alert('This Seat is Not Available!');
                        } else {
                            if (count > 3 || selected_seat.includes(index + g1.children.length)) {
                                if (selected_seat.includes(index + g1.children.length))
                                    alert('Already Selected!');
                                else
                                    alert('You cannot purchase more than 4 tickets at a time!');
                            } else {
                                $(item2[index]).addClass("selected-seat");
                                selected_seat.push(index + g1.children.length);
                                count = count + 1;
                            }
                        }

                    }
                })(i);
            }

        }

        function preferable() {
            var time = $('#time').find(":selected").val();
            var date = document.getElementById("date").value;
            var start_point = document.getElementById("start_point").value;
            var destination = document.getElementById("destination").value;
            if (time == '' || date == '' || start_point == '' || destination == '') {
                alert('Please Fillup Required Fields!');
                return;
            }
            var item1 = document.querySelectorAll(".section-1 img");
            var item2 = document.querySelectorAll(".section-2 img");
            var seat = $('#class_type').find(":selected").val();
            if (seat == "Custom Choice") {

                $.ajax({
                    url: '/occupied_seat/',
                    type: 'POST',
                    data: {
                        'start_point': start_point,
                        'destination': destination,
                        'date': date,
                        'time': time,
                    },
                    dataType: "json",
                    headers: {
                        'X-CSRFToken': '{{ csrf_token }}'
                    },
                    success: function(data) {
                        data = JSON.parse(data);
                        occupied_seat = data;
                        for (var i = 0; i < data.length; i++) {
                            if (data[i] > 25) {
                                $(item2[data[i] - 26]).addClass("unavailable-seat");
                            } else {
                                $(item1[data[i]]).addClass("unavailable-seat");
                            }
                        }
                    },
                    failure: function(data) {
                        alert('Got an error! Please Try Later.');
                    }

                });

                $(".seat").fadeIn("slow");

            } else
                $(".seat").fadeOut("slow");

            seat_list(date, time);
        }

        function available_ticket() {
            $('.toast').toast('show');
            var form = document.getElementById("booking");
            form.classList.add("blur");

            var start_point = document.getElementById("start_point").value;
            var destination = document.getElementById("destination").value;
            var date = document.getElementById("date").value;
            var time = $('#time').find(":selected").val();
            var tickets = $('#tickets').find(":selected").val();
            var class_type = $('#class_type').find(":selected").val();
            $.ajax({
                url: '/ticket_availability/',
                type: 'POST',
                data: {
                    'start_point': start_point,
                    'destination': destination,
                    'date': date,
                    'class_type': class_type,
                    'time': time
                },
                dataType: "json",
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                success: function(data) {
                    data = JSON.parse(data);
                    var paragraph = document.getElementById("ticket");
                    var text = document.createTextNode(data.tickets);
                    paragraph.appendChild(text);
                    paragraph = document.getElementById("price");
                    $("#ticket").text("No. of Tickets Available For You: " + data.tickets);
                    $("#distance").text("Travel Distance: " + data.distance + "km");
                    $("#price").text("Price Will be BDT " + data.price + " Per Ticket");
                    $("#selected").text("You Have Selected " + tickets + " Tickets.");
                },
                failure: function(data) {
                    alert('Got an error! Please Try Later.');
                }

            });


        }

        function cancel() {
            var form = document.getElementById("booking");
            form.classList.remove("blur");
        }

        function input_validity() {
            var start_point = document.getElementById("start_point").value;
            var destination = document.getElementById("destination").value;
            var check = document.getElementById('check');
            var purchase = document.getElementById('purchase');

            if (start_point == destination) {
                check.disabled = true;
                check.classList.add("disable-btn");
                purchase.disabled = true;
                purchase.classList.add("disable-btn");
            } else {
                check.disabled = false;
                check.classList.remove("disable-btn");
                purchase.disabled = false;
                purchase.classList.remove("disable-btn");
            }
        }

        function autocomplete(inp, arr) {

            var currentFocus;
            inp.addEventListener("click", function() {
                var a, b, i, val = this.value;
                closeAllLists();
                if (val) {
                    return false;
                }
                currentFocus = -1;
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                this.parentNode.appendChild(a);
                for (i = 0; i < arr.length; i++) {
                    b = document.createElement("DIV");
                    b.innerHTML = "<strong>" + arr[i] + "</strong>";
                    b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                    b.addEventListener("click", function(e) {
                        inp.value = this.getElementsByTagName("input")[0].value;
                        closeAllLists();
                    });
                    a.appendChild(b);
                }
            });

            inp.addEventListener("input", function(e) {
                var a, b, i, val = this.value;
                closeAllLists();
                currentFocus = -1;
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                /*append the DIV element as a child of the autocomplete container:*/
                this.parentNode.appendChild(a);
                if (!val) {
                    return false;
                }


                /*for each item in the array...*/
                for (i = 0; i < arr.length; i++) {
                    /*check if the item starts with the same letters as the text field value:*/
                    if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        /*create a DIV element for each matching element:*/
                        b = document.createElement("DIV");
                        /*make the matching letters bold:*/
                        b.innerHTML = "<strong>" + arr[i].substr(0, val.length) + "</strong>";
                        b.innerHTML += arr[i].substr(val.length);
                        /*insert a input field that will hold the current array item's value:*/
                        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                        /*execute a function when someone clicks on the item value (DIV element):*/
                        b.addEventListener("click", function(e) {
                            /*insert the value for the autocomplete text field:*/
                            inp.value = this.getElementsByTagName("input")[0].value;
                            /*close the list of autocompleted values,
                            (or any other open lists of autocompleted values:*/
                            closeAllLists();
                        });
                        a.appendChild(b);
                    }
                }
            });
            /*execute a function presses a key on the keyboard:*/
            inp.addEventListener("keydown", function(e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    /*If the arrow DOWN key is pressed,
                    increase the currentFocus variable:*/
                    currentFocus++;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 38) { //up
                    /*If the arrow UP key is pressed,
                    decrease the currentFocus variable:*/
                    currentFocus--;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 13) {
                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                    e.preventDefault();
                    if (currentFocus > -1) {
                        /*and simulate a click on the "active" item:*/
                        if (x) x[currentFocus].click();
                    }
                }
            });

            function addActive(x) {
                /*a function to classify an item as "active":*/
                if (!x) return false;
                /*start by removing the "active" class on all items:*/
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                /*add class "autocomplete-active":*/
                x[currentFocus].classList.add("autocomplete-active");
            }

            function removeActive(x) {
                /*a function to remove the "active" class from all autocomplete items:*/
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }

            function closeAllLists(elmnt) {
                /*close all autocomplete lists in the document,
                except the one passed as an argument:*/
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            document.addEventListener("click", function(e) {
                // closeAllLists(e.target);
                // this will remove all items even if the empty field try to show all place
            });
        }
        var place;
        $('#start_point').ready(function() {
            var place = "none";
            $.ajax({
                url: '/show_place',
                type: 'get',
                dataType: 'json',
                success: function(data) {
                    place = JSON.parse(data);
                    autocomplete(document.getElementById("start_point"), place);
                    autocomplete(document.getElementById("destination"), place);
                },
                failure: function(data) {
                    alert('Got an error dude!');
                }
            });

        });
    </script>


    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $('.form-control').each(function() {
            floatedLabel($(this));
        });

        $('.form-control').on('input', function() {
            floatedLabel($(this));
        });

        function floatedLabel(input) {
            var $field = input.closest('.form-group');
            if (input.val()) {
                $field.addClass('input-not-empty');
            } else {
                $field.removeClass('input-not-empty');
            }
        }
    </script>

</body>
{% endblock %}

</html>